### Data Type:
1. String
2. int
3. Flot
4. Boolean

In [4]:
name = "Jakia Sultana"
print(name)

Jakia Sultana

In [5]:
print(len(name))

13

In [6]:
name.upper()

'JAKIA SULTANA'

In [7]:
name.lower()

'jakia sultana'

In [8]:
name.title()

'Jakia Sultana'

In [9]:
print(name[0:5]) #slicing the string, from 0 to 4th index

Jakia

In [10]:
type(name)

str

### Number
1. int
2. flot
3. complex
4. long

In [13]:
int_num= 4
float_number = 4.6
complex_number = 3.14j # 3.14 real and j is imaginary

In [14]:
print(type(int_num))
print(type(float_number))
print(type(complex_number))

<class 'int'>
<class 'float'>
<class 'complex'>

### List:
1. append() to add elememt at the end
2. extend()
3. index()
4. insert()
5. pop()
6. remove()
7. reverse()
8. count()
9. sort()
10. clear()
11. replication() # shadow copy 
12. Element Deletion
13. copying

### append()

In [15]:
list1 = [1,2,3,4,5,6] # creating a list

In [16]:
list1.append(10)
print(list1)

[1, 2, 3, 4, 5, 6, 10]

In [17]:
duplicate_list = [11,12,13]
list1.append(duplicate_list)

In [19]:
print(list1) # list will be nested

[1, 2, 3, 4, 5, 6, 10, [11, 12, 13]]

In [20]:
name = "Numbers"
list1.append(name)
print(list1)

[1, 2, 3, 4, 5, 6, 10, [11, 12, 13], 'Numbers']

In [21]:
print(list1[7])

[11, 12, 13]

In [2]:
a = [] # blank list
for i in range(1, 11):
    a.append(i//2*3) # i//2 will take the floor value
print(a)

[0, 3, 3, 6, 6, 9, 9, 12, 12, 15]

### Extend()

In [27]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
extra_list = [0, 3, 3, 6, 6, 9, 9, 12, 12, 15]

list1.extend(extra_list)
list1 # alternative of print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 3, 3, 6, 6, 9, 9, 12, 12, 15]

In [28]:
list1.extend(range(33,44))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 3, 3, 6, 6, 9, 9, 12, 12, 15, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]

### index()

In [37]:

list1.index(33)# returns the index of 33

20

In [33]:
list1[2] # it will return a value in index 2

3

### Insert()

In [42]:
list1.insert(5,122) #(index, value)means insert value to index

In [41]:
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 3, 3, 6, 6, 9, 9, 12, 12, 15, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 10, 10]

### pop()

In [45]:
list1.pop(5) # parameter index
# removed the last value
print(list1)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 0, 3, 3, 6, 6, 9, 9, 12, 12, 15, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 10]

### remove()

In [46]:
list1.remove(33) #parameter value
# remove must have value

In [47]:
print(list1)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 0, 3, 3, 6, 6, 9, 9, 12, 12, 15, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 10]

### reverse()

In [48]:
list1.reverse()
print(list1)

[10, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 15, 12, 12, 9, 9, 6, 6, 3, 3, 0, 10, 9, 8, 7, 5, 4, 3, 2, 1]

### sort()

In [49]:
list1.sort()

In [50]:
print(list1)

[0, 1, 2, 3, 3, 3, 4, 5, 6, 6, 7, 8, 9, 9, 9, 10, 10, 12, 12, 15, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]

In [51]:
list1.sort(reverse = True)
print(list1)

[43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 15, 12, 12, 10, 10, 9, 9, 9, 8, 7, 6, 6, 5, 4, 3, 3, 3, 2, 1, 0]

In [5]:
import datetime
class Person(object):
    def __init__(self, name, class_roll, height):
        self.name = name
        self.class_roll = class_roll
        self.height = height
        
    def __repr__(self):
        return self.name
person_list = [Person("Jenny", 123, 130),
              Person("Toma", 345, 123),
              Person("sultana", 123,34)]
person_list.sort(key = lambda item : item.name)

In [6]:
person_list

[Jenny, Toma, sultana]

In [56]:
person_list.sort(key = lambda item: item.name)

In [57]:
person_list

[Jenny, Toma, sultana]

### Tuple()
#### Tuple is unaccessible(insertion isnot possible)

In [60]:
tl = (1,2,3,4)
print(type(tl))

<class 'tuple'>

In [9]:
t =() #empty tuple
print(type(t))
tl = ("Bangladesh")
print(tl)

<class 'tuple'>
Bangladesh

In [10]:
a = 1 #assignment of variable
b = 1, #assignment of tuple

In [11]:
print(type(a))
type(b)

<class 'int'>

tuple

In [17]:
t1 = ("Bangladesh ")
t2 =("India")
#t1.append("India") # tuple append is not possible
print(t1+t2)#concatination is possible in tuple

Bangladesh India

In [18]:
t1 =(1,2,3,4)
t2 = (5,6,7,8)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [19]:
type(t1)

tuple

In [20]:
max(t1)

4

In [21]:
min(t1)

1

In [22]:
import numpy as np

In [23]:
np.mean(t1)

2.5

In [24]:
np.median(t1)

2.5

In [25]:
np.multiply(5,8)

40

### Dictionary

In [72]:
dictionary = {"key": "value"}
print(dictionary)
print(type(dictionary))

{'key': 'value'}
<class 'dict'>

In [32]:
info ={ "name" : "Bangladesh",
       "i_year" : 1971,
       "population" : "200 million"
    
}

info.items() # to returns items inside dictionary

dict_items([('name', 'Bangladesh'), ('i_year', 1971), ('population', '200 million')])

In [33]:
info.keys()

dict_keys(['name', 'i_year', 'population'])

In [34]:
info.values()

dict_values(['Bangladesh', 1971, '200 million'])

In [37]:
for key, value in info.items(): #print all the items using for loop
    print(key, ":", value)

name : Bangladesh
i_year : 1971
population : 200 million

### Loop

In [6]:
a= [] #empty list
for i in range(1,11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
i = 0
while i < 10 :
    print(i)
    if i == 6:
        print("Break executed")
        break     
    i+=1

0
1
2
3
4
5
6
Break executed